H1 { font-family: fantasy
    
}
h2{
    font-weight: normal;
}
body { background-color: linen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    padding: 4rem;
}

ul li{ 
list-style-type: none;
    display: inline;
    
}

@media screen and (max-width: 500px) {
  #wrapper nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
      margin: 20px;
    list-style-type: none;
  }
    
#content {
  max-width: 1200px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
    float: left;
}